@model SistemaInventario.Modelos.ViewModels.KardexInventarioVM
@using SistemaInventario.Utilidades
@{
    ViewData["Title"] = "ImprimirKardex";
    Layout = null;
    var titulo = "Kardex Producto";
    string imageUrl = DS.ImagenRuta + Model.Producto.ImagenURL;

}

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Imagenes//icono.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaInventario.styles.css" asp-append-version="true" />
    @*Herramientas de terceros*@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap" rel="stylesheet">
    @*<link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css" rel="stylesheet" />*@
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>


    <table style="width:100%; border : 1px solid white;">
        <thead class="thead-dark">
            <tr>
                <th style="text-align:left;">
                    <table style="width:100%; border : 1px solid white;">
                        <tr>
                            <td style="text-align:center; width:40%;"><h4><strong>@titulo</strong></h4></td>

                        </tr>
                        <tr>
                            <td style="text-align:right; width:30%;">                                
                                <img src="@DS.ImagenRuta@Model.Producto.ImagenURL" style="border-radius:5px;width:150px;height:150px;" />
                       
                            </td>
                        </tr>
                    </table>
                </th>

            </tr>
        </thead>
    </table>

    <div class="row">
        <div class="col-10">
            <div class="row mb-2">
                <div class="form-group col-md-8 mt-2">
                    <label><strong class="m-2">Desde:</strong>@Model.FechaInicio.ToShortDateString() <strong class="m-2">Hasta: </strong> @Model.FechaFinal.ToShortDateString() </label>
                            
                </div>
            </div>
            <div class="row mb-2">
                <div class="form-group col-md-8 mt-2">
                    <label><strong class="m-2">Producto:</strong> @Model.Producto.Descripcion</label>
                </div>
            </div>
        </div>

    </div>


    <table class="table table-responsive table-hover table-bordered">
        @foreach (var bodega in Model.KardexInventarioLista.GroupBy(x => x.BodegaProducto.Bodega.Nombre))
        {
            <thead class="table-secondary" style="background:#ddd">
                <tr>
                    <th colspan="6">@bodega.Key</th>
                    <th colspan="3" class="text-center">Saldo</th>
                </tr>
                <tr>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Detalle</th>
                    <th class="text-center">Stock Anterior</th>
                    <th class="text-center">Entrada</th>
                    <th class="text-center">Salida</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center">Costo</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            @foreach (var datos in Model.KardexInventarioLista.Where(d => d.BodegaProducto.Bodega.Nombre == bodega.Key))
            {
                <tr>
                    <td class="text-center">@datos.FechaRegistro.ToShortDateString()</td>
                    <td class="text-center">@datos.Tipo</td>
                    <td>@datos.Detalle</td>
                    <td class="text-center">@datos.StockAnterior</td>
                    @if (datos.Tipo == "Entrada")
                    {
                        <td class="text-center">@datos.Cantidad</td>
                    }
                    else
                    {
                        <td class="text-center">--</td>
                    }
                    @if (datos.Tipo == "Salida")
                    {
                        <td class="text-center">@datos.Cantidad</td>
                    }
                    else
                    {
                        <td class="text-center">--</td>
                    }
                    <td class="text-center">@datos.Stock</td>
                    <td class="text-center">@datos.Costo</td>
                    <td class="text-center">@datos.Total</td>
                </tr>
            }


        }
    </table>

    @if (Model.KardexInventarioLista.Count() == 0)
    {
        <div class="col-12 border-bottom p-0">
            <h3 class="text-primary text-center">No hay Datos para Mostrar</h3>
        </div>

    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*Herramientas de terceros*@
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @*<script src="~/lib/select2/js/select2.min.js"></script>    *@
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@

</body>
</html>


